*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1.6;
    background: #eee
}

.movie-list {
    max-width: 1140px;
    background: #ffffff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    padding: 70px 30px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.poster {
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-bottom: 100px;
    overflow: hidden;
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.poster__info {
     background: #fff;
     padding: 25px 25px;
 }

.all-characters {
    background: #fff;
    padding: 0 25px;   
}

.characters-list {
    list-style: none;
    padding-left: 10px;
}

.poster__title {
     font-size: 1.2em;
     font-weight: 300;
     margin-bottom: .4em;
 }

.poster__text {
     font-size: .9em;
     color: #999;
     font-weight: 300;
 }

.show-all-btn {
    position: absolute;
    bottom: 25px;
    left: 10%;
    padding: 15px 20px;
    background: #27ae60;
    text-align: center;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .15em;
    text-decoration: none;
    font-size: .9em;
    font-weight: 300;
    background: linear-gradient(90deg, #2ecc71, #27ae60);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10), 0 1px 2px rgba(0, 0, 0, 0.18);
    transition: 0.3s;
    cursor: pointer;
}
.show-all-btn:hover {
     box-shadow: 0 8px 18px rgba(0, 0, 0, 0.10), 0 8px 8px rgba(0, 0, 0, 0.18);
 }


